.Alfa-section {
  width: 100%;
  padding: 160px 40px 120px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;

  /* DEGRADÊ PRINCIPAL DO FUNDO */
  background: linear-gradient(135deg, #1f74ff 0%, #3db9ff 45%, #8db8ff 100%);
}

/* MANCHA ESQUERDA (azul/turquesa) */
.Alfa-section::before {
  content: "";
  position: absolute;
  top: -180px;
  left: -230px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(255,255,255,0.18), rgba(255,255,255,0.02));
  border-radius: 50%;
  filter: blur(28px);
  z-index: 0;
}

/* FORMA POLIGONAL DIREITA */
.Alfa-section::after {
  content: "";
  position: absolute;
  bottom: -150px;
  right: -200px;
  width: 900px;
  height: 550px;
  background: rgba(255, 255, 255, 0.12);
  clip-path: polygon(
    0% 10%, 40% 0%, 80% 5%, 100% 40%,
    85% 85%, 40% 100%, 10% 90%
  );
  filter: blur(14px);
  z-index: 0;
}

/* TITULO E PARAGRAFO FICAM NA FRENTE DAS FORMAS */
.Alfa-section h1,
.Alfa-section p {
  position: relative;
  z-index: 2;
}

.barra-filtro{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  justify-content: center;
}

/* campo de busca */
.campo-busca{
  display: flex;
  align-items: center;
  background-color: #f1f3f5;
  border-radius: 25px;
  padding: 8px 14px;
  width: 260px;
}

.campo-busca input{
  border: none;
  background: transparent;
  outline: none;
  margin-left: 8px;
  width: 100%;
  font-size: 14px;
  color: #000000;
}

.icone {
  font-size: 16px;
  color: #555;
}

/* Botões */
.botoes {
  display: flex;
  gap: 8px;
}

.botoes button {
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  background-color: #cfd8dc;
  cursor: pointer;
  font-weight: 600;
}

.botoes button:hover {
  background-color: #b0bec5;
}

/* Grid */
.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px;
  color:#000000;
  align-items: center;
  padding: 8px 200px;
}

/* Card */
.video-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* Mantem a proporção do video */
.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
}

.iframe-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Info */
.info {
  padding: 12px;
  font-weight: 600;
}

.vazio {
  padding: 20px;
  color: #777;
}