#root {
  /* REMOVIDO: max-width: 1280px; */
  /* REMOVIDO: margin: 0 auto; */
  /* REMOVIDO: padding: 2rem; */
  /* REMOVIDO: text-align: center; */
  
  /* Garantir que ocupe 100% da largura do body */
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: unset; 
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


/* ... Mantenha o restante do arquivo intacto. */